doctype html

html(lang = "en")

  head

    base(href = system.path)

    title
      = application.title

  body

    h1 Web application page

    img(title = "MEAN example", src = "resources/static/images/example.png")
