doctype html

html(lang = "en", data-ng-app = "application")

  head

    base(href = system.path)

    link(rel = "stylesheet", href = "resources/static/styles/bundle.css")

    title
      = application.title

  body

    div(data-ui-view = "header")

    hr

    div(data-ui-view = "main-content")

    hr

    div(data-ui-view = "footer")

    script(type = "text/javascript", src = "resources/static/scripts/external/bundle.js")
    script(type = "text/javascript", src = "resources/static/scripts/application/bundle.js")
